<%- include('../includes/header.ejs', pageName) %>
     <%- include('../includes/navbar.ejs', isLogin)%>
          <div class="container">
               <div class="row">
                    <% for(let i=0;i<books.length;i++) { %>
                         <div class="col-12 col-sm-12 col-md-4">
                              <div class="card" style="width: 18rem;">
                                   <img src="/images/<%= books[i].image%>" class="card-img-top" alt="...">
                                   <div class="card-body">
                                        <h5 class="card-title">
                                             <%= books[i].name %>
                                        </h5>
                                        <p> published : <%= books[i].published%>
                                        </p>
                                        <p> price : <%= books[i].price%>
                                        </p>
                                        <p>author: <%= books[i].author.name%>
                                        </p>
                                        <p>author age : <%= books[i].author.age%>
                                        </p>
                                        <p>date of birth : <%= books[i].author.dob%>
                                        </p>
                                        <form action="/store/delete/<%= books[i].author._id %>/<%= books[i]._id %>"
                                             method="post">
                                             <button class="btn btn-primary">
                                                  delete book
                                             </button>
                                        </form>
                                   </div>
                              </div>
                         </div>
                         <% } %>
               </div>
          </div>


          <%- include('../includes/footer.ejs') %>